<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Reelix</title>
        <link
            rel="stylesheet"
            href="/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/bootstrap.min.css" />
    </head>
    <body>
        <section class="home-section">
            <div class="container-fluid text-center">
                <div>
                    <img
                        src="/img/team360.png"
                        width="400"
                        class="img-fluid"
                        alt="" />
                </div>
                <div>
                    <a
                        href="/login"
                        class="btn btn-primary"
                        >Login</a
                    >
                </div>
            </div>
        </section>

        <script>
            let errorMessage = '<%- errorMessage %>'

            if (errorMessage) {
                alert(errorMessage)
            }
        </script>
    </body>
</html>
